In [1]:
import numpy as np
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
file_cast = '/mnt/d/lighthouse/lighthouse_data_notes/Week_2/Day_2/Pandas_exercise/cast.csv'
cast = pd.read_csv(file_cast)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [3]:
file_release = '/mnt/d/lighthouse/lighthouse_data_notes/Week_2/Day_2/Pandas_exercise/release_dates.csv'
release = pd.read_csv(file_release)
release.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20

### Count the number of months in which movies with "Christmas" in their title tend to be released in the USA.

In [5]:
release['month'] =  pd.DatetimeIndex(release['date']).month
release['day'] =  pd.DatetimeIndex(release['date']).day

In [7]:
christmas_USA = release[(release['title'].str.contains('Christmas')) & (release['country']=='USA')]
christmas_USA

,title,year,country,date,month,day
1191,12 Dog Days of Christmas,2014,USA,2014-11-28,11,28
1192,12 Dogs of Christmas: Great Puppy Rescue,2012,USA,2012-10-09,10,9
5904,A Belle for Christmas,2014,USA,2014-11-04,11,4
6163,A Cadaver Christmas,2011,USA,2011-04-02,4,2
6272,A Christmas Carol,1938,USA,1938-12-16,12,16
...,...,...,...,...,...,...
383807,The Nightmare Before Christmas,1993,USA,1993-10-29,10,29
395219,The Shootin' It Christmas Spectacular,2013,USA,2013-12-20,12,20
408785,This Christmas,2007,USA,2007-11-21,11,21
437275,What She Wants for Christmas,2012,USA,2012-12-01,12,1
439068,White Christmas,1954,USA,1954-10-14,10,14

In [ ]:
USA = christmas_USA .groupby('month').count()

In [13]:
USA['title']

month
1      2
2      2
4      1
5      1
6      1
7      1
8      2
9      2
10    14
11    38
12    47
Name: title, dtype: int64

### Count the number of months in which movies with "Christmas" in their title tend to be released in Canada.

In [14]:
christmas_CAD = release[(release['title'].str.contains('Christmas')) & (release['country']=='Canada')]
CAD = christmas_CAD .groupby('month').count()

In [15]:
CAD['title']

month
10    2
11    9
12    6
Name: title, dtype: int64

### Count the number of months in which movies whose titles start with "The Hobbit" are released in the USA.

In [18]:
hobbit = release[(release['title'].str.match('The Hobbit')) & (release['country']=='USA')]
hobbit_US = hobbit.groupby('month').count()

In [19]:
hobbit_US['title']

month
12    3
Name: title, dtype: int64

### Count day of the week on which movies with "Romance" in their title tend to be released in the USA.

In [20]:
romance = release[(release['title'].str.contains('Romance')) & (release['country']=='USA')]
romance_US = romance.groupby('month').count()

In [21]:
romance_US['title']

month
1      9
2      9
3     10
4      6
5      9
6     11
7      6
8      9
9      5
10    11
11     8
12     7
Name: title, dtype: int64

### Count day of the week on which movies with "Action" in their title tend to be released in the USA.

In [22]:
action = release[(release['title'].str.contains('Action')) & (release['country']=='USA')]
action_US = action.groupby('month').count()

In [23]:
action_US['title']

month
1     6
2     2
3     3
4     1
5     1
6     3
7     3
8     1
9     1
10    1
11    7
12    2
Name: title, dtype: int64

### On which date was each Judi Dench movie from the 1990s released in the USA?

In [52]:
judi = cast[(1989<cast['year']) & (cast['year']<2000) & (cast['name']=='Judi Dench')]
judi

,title,year,name,type,character,n
2720483,GoldenEye,1995,Judi Dench,actress,M,6.0
2720484,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2720490,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0
2720495,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0
2720508,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0
2720512,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0
2720520,The World Is Not Enough,1999,Judi Dench,actress,M,6.0
2720521,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0

In [37]:
USA = release[release['country']=='USA']
USA

                             title  year country        date  month  day
4                          #Horror  2015     USA  2015-11-20     11   20
6                    #Lucky Number  2015     USA  2015-09-01      9    1
9                            #Roxy  2017     USA  2017-03-01      3    1
10                      #Screamers  2016     USA  2017-10-31     10   31
11                 #Slaughterhouse  2016     USA  2016-10-01     10    1
...                            ...   ...     ...         ...    ...  ...
452492                      sTelth  2016     USA  2016-03-18      3   18
452494                      sxtape  2013     USA  2014-05-16      5   16
452511                         xXx  2002     USA  2002-08-09      8    9
452599  xXx: Return of Xander Cage  2017     USA  2017-01-20      1   20
452651     xXx: State of the Union  2005     USA  2005-04-29      4   29

[44354 rows x 6 columns]

In [51]:
together = pd.merge(judi,USA,on=['title','year'],how='left')
together

,title,year,name,type,character,n,country,date,month,day
0,GoldenEye,1995,Judi Dench,actress,M,6.0,USA,1995-11-17,11,17
1,Hamlet,1996,Judi Dench,actress,Hecuba,12.0,USA,1996-12-25,12,25
2,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0,USA,1996-03-22,3,22
3,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0,USA,1997-10-03,10,3
4,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0,USA,1999-01-08,1,8
5,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0,USA,1999-05-14,5,14
6,The World Is Not Enough,1999,Judi Dench,actress,M,6.0,USA,1999-11-19,11,19
7,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0,USA,1997-12-19,12,19

### In which months do films with Judi Dench tend to be released in the USA?

In [55]:
judi_all = cast[cast['name']=='Judi Dench']
together_all = pd.merge(judi_all,USA,on=['title','year'],how='left')
together_all.dropna()

,title,year,name,type,character,n,country,date,month,day
0,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0,USA,1987-02-13,2.0,13.0
1,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0,USA,1988-06-24,6.0,24.0
4,A Study in Terror,1965,Judi Dench,actress,Sally,8.0,USA,1966-08-10,8.0,10.0
6,Casino Royale,2006,Judi Dench,actress,M,4.0,USA,2006-11-17,11.0,17.0
7,Chocolat,2000,Judi Dench,actress,Armande Voizin,18.0,USA,2001-01-19,1.0,19.0
9,Die Another Day,2002,Judi Dench,actress,M,6.0,USA,2002-11-22,11.0,22.0
10,Doogal,2006,Judi Dench,actress,Narrator,7.0,USA,2006-02-24,2.0,24.0
12,GoldenEye,1995,Judi Dench,actress,M,6.0,USA,1995-11-17,11.0,17.0
13,Hamlet,1996,Judi Dench,actress,Hecuba,12.0,USA,1996-12-25,12.0,25.0
15,Henry V,1989,Judi Dench,actress,Mistress Nell Quickly,26.0,USA,1989-11-08,11.0,8.0
16,Home on the Range,2004,Judi Dench,actress,Mrs. Caloway,7.0,USA,2004-04-02,4.0,2.0
17,Iris,2001,Judi Dench,actress,Iris Murdoch,3.0,USA,2002-03-29,3.0,29.0
18,J. Edgar,2011,Judi Dench,actress,Annie Hoover,13.0,USA,2011-11-11,11.0,11.0
19,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0,USA,1996-03-22,3.0,22.0
20,Jane Eyre,2011,Judi Dench,actress,Mrs. Fairfax,18.0,USA,2011-04-22,4.0,22.0
21,Ladies in Lavender,2004,Judi Dench,actress,Ursula,1.0,USA,2005-05-27,5.0,27.0
23,Miss Peregrine's Home for Peculiar Children,2016,Judi Dench,actress,Miss Avocet,4.0,USA,2016-09-30,9.0,30.0
24,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0,USA,1997-10-03,10.0,3.0
25,Mrs Henderson Presents,2005,Judi Dench,actress,Mrs. Laura Henderson,1.0,USA,2006-02-17,2.0,17.0
27,My Week with Marilyn,2011,Judi Dench,actress,Dame Sybil Thorndike,23.0,USA,2011-12-23,12.0,23.0
28,Nine,2009,Judi Dench,actress,Lilli,6.0,USA,2009-12-25,12.0,25.0
29,Notes on a Scandal,2006,Judi Dench,actress,Barbara Covett,1.0,USA,2007-01-26,1.0,26.0
30,Philomena,2013,Judi Dench,actress,Philomena,1.0,USA,2013-11-27,11.0,27.0
31,Pirates of the Caribbean: On Stranger Tides,2011,Judi Dench,actress,Society Lady,16.0,USA,2011-05-20,5.0,20.0
32,Pride & Prejudice,2005,Judi Dench,actress,Lady Catherine de Bourg,20.0,USA,2005-11-23,11.0,23.0
33,Quantum of Solace,2008,Judi Dench,actress,M,4.0,USA,2008-11-14,11.0,14.0
37,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0,USA,1999-01-08,1.0,8.0
38,Skyfall,2012,Judi Dench,actress,M,2.0,USA,2012-11-09,11.0,9.0
41,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0,USA,1999-05-14,5.0,14.0
43,The Best Exotic Marigold Hotel,2011,Judi Dench,actress,Evelyn Greenslade,1.0,USA,2012-05-25,5.0,25.0
44,The Chronicles of Riddick,2004,Judi Dench,actress,Aereon,4.0,USA,2004-06-11,6.0,11.0
45,The Importance of Being Earnest,2002,Judi Dench,actress,Lady Bracknell,5.0,USA,2002-06-21,6.0,21.0
46,The Second Best Exotic Marigold Hotel,2015,Judi Dench,actress,Evelyn Greenslade,5.0,USA,2015-03-06,3.0,6.0
47,The Shipping News,2001,Judi Dench,actress,Agnis Hamm,3.0,USA,2002-01-18,1.0,18.0
49,The World Is Not Enough,1999,Judi Dench,actress,M,6.0,USA,1999-11-19,11.0,19.0
50,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0,USA,1997-12-19,12.0,19.0
53,Wetherby,1985,Judi Dench,actress,Marcia Pilborough,3.0,USA,1985-07-19,7.0,19.0

### In which months do films with Tom Cruise tend to be released in the USA?

In [56]:
tom = cast[cast['name']=='Tom Cruise']
tom_USA = pd.merge(tom,USA,on=['title','year'],how='left')
tom_USA.dropna()

,title,year,name,type,character,n,country,date,month,day
0,A Few Good Men,1992,Tom Cruise,actor,Lt. Daniel Kaffee,1.0,USA,1992-12-11,12.0,11.0
1,All the Right Moves,1983,Tom Cruise,actor,Stefen Djordjevic,1.0,USA,1983-10-21,10.0,21.0
4,Austin Powers in Goldmember,2002,Tom Cruise,actor,Tom Cruise,81.0,USA,2002-07-26,7.0,26.0
5,Austin Powers in Goldmember,2002,Tom Cruise,actor,Famous Austin ('Austinpussy'),81.0,USA,2002-07-26,7.0,26.0
6,Born on the Fourth of July,1989,Tom Cruise,actor,Ron Kovic,1.0,USA,1990-01-05,1.0,5.0
7,Cocktail,1988,Tom Cruise,actor,Brian Flanagan,1.0,USA,1988-07-29,7.0,29.0
8,Collateral,2004,Tom Cruise,actor,Vincent,1.0,USA,2004-08-06,8.0,6.0
9,Days of Thunder,1990,Tom Cruise,actor,Cole Trickle,1.0,USA,1990-06-27,6.0,27.0
10,Edge of Tomorrow,2014,Tom Cruise,actor,Cage,1.0,USA,2014-06-06,6.0,6.0
11,Endless Love,1981,Tom Cruise,actor,Billy,18.0,USA,1981-07-17,7.0,17.0
12,Eyes Wide Shut,1999,Tom Cruise,actor,Dr. William Harford,1.0,USA,1999-07-16,7.0,16.0
13,Far and Away,1992,Tom Cruise,actor,Joseph Donnelly,1.0,USA,1992-05-22,5.0,22.0
14,Interview with the Vampire: The Vampire Chroni...,1994,Tom Cruise,actor,Lestat,5.0,USA,1994-11-11,11.0,11.0
15,Jack Reacher,2012,Tom Cruise,actor,Reacher,1.0,USA,2012-12-21,12.0,21.0
16,Jack Reacher: Never Go Back,2016,Tom Cruise,actor,Jack Reacher,1.0,USA,2016-10-21,10.0,21.0
17,Jerry Maguire,1996,Tom Cruise,actor,Jerry Maguire,1.0,USA,1996-12-13,12.0,13.0
18,Knight and Day,2010,Tom Cruise,actor,Roy Miller,1.0,USA,2010-06-23,6.0,23.0
19,Legend,1985,Tom Cruise,actor,Jack,1.0,USA,1986-04-18,4.0,18.0
20,Lions for Lambs,2007,Tom Cruise,actor,Senator Jasper Irving,3.0,USA,2007-11-09,11.0,9.0
21,Losin' It,1983,Tom Cruise,actor,Woody,1.0,USA,1983-04-22,4.0,22.0
22,Magnolia,1999,Tom Cruise,actor,Frank T.J. Mackey,16.0,USA,2000-01-07,1.0,7.0
23,Minority Report,2002,Tom Cruise,actor,Chief John Anderton,1.0,USA,2002-06-21,6.0,21.0
24,Mission: Impossible,1996,Tom Cruise,actor,Ethan Hunt,1.0,USA,1996-05-22,5.0,22.0
25,Mission: Impossible - Ghost Protocol,2011,Tom Cruise,actor,Ethan Hunt,1.0,USA,2011-12-21,12.0,21.0
26,Mission: Impossible - Rogue Nation,2015,Tom Cruise,actor,Ethan Hunt,1.0,USA,2015-07-31,7.0,31.0
28,Mission: Impossible II,2000,Tom Cruise,actor,Ethan Hunt,1.0,USA,2000-05-24,5.0,24.0
29,Mission: Impossible III,2006,Tom Cruise,actor,Ethan Hunt,1.0,USA,2006-05-05,5.0,5.0
30,Oblivion,2013,Tom Cruise,actor,Jack,1.0,USA,2013-04-19,4.0,19.0
31,Rain Man,1988,Tom Cruise,actor,Charlie Babbitt,2.0,USA,1988-12-16,12.0,16.0
32,Risky Business,1983,Tom Cruise,actor,Joel Goodsen,1.0,USA,1983-08-05,8.0,5.0
33,Rock of Ages,2012,Tom Cruise,actor,Stacee Jaxx,20.0,USA,2012-06-15,6.0,15.0
34,Taps,1981,Tom Cruise,actor,Cadet Captain David Shawn,5.0,USA,1981-12-25,12.0,25.0
36,The Color of Money,1986,Tom Cruise,actor,Vincent Lauria,2.0,USA,1986-10-17,10.0,17.0
37,The Firm,1993,Tom Cruise,actor,Mitch McDeere,1.0,USA,1993-06-30,6.0,30.0
38,The Last Samurai,2003,Tom Cruise,actor,Nathan Algren,2.0,USA,2003-12-05,12.0,5.0
40,The Outsiders,1983,Tom Cruise,actor,Steve Randle,7.0,USA,1983-03-25,3.0,25.0
42,Top Gun,1986,Tom Cruise,actor,Maverick,1.0,USA,1986-05-16,5.0,16.0
43,Tropic Thunder,2008,Tom Cruise,actor,Les Grossman - Grossman's Office,36.0,USA,2008-08-13,8.0,13.0
44,Valkyrie,2008,Tom Cruise,actor,Colonel Claus von Stauffenberg,1.0,USA,2008-12-25,12.0,25.0
45,Vanilla Sky,2001,Tom Cruise,actor,David Aames,1.0,USA,2001-12-14,12.0,14.0
46,War of the Worlds,2005,Tom Cruise,actor,Ray Ferrier,1.0,USA,2005-06-29,6.0,29.0